.container_search{
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 5px 8px 8px -6px rgba(0,0,0,0.5);
    padding: 0 20px;
    position: relative;
    margin-bottom: 50px;
}

.logo{
    width: 100px;
}

.logo img{
    height: 90px;
    margin-top: -12px;
}

.search_icon{
    width: 600px;
    margin: -12px auto 0 auto;
}



.search_icon form input{
    width: 500px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    outline: none;
}

::placeholder{
    font-size: 1rem;
    color: #6f6f6f99;
    font-weight: 700;
}

.search_icon form button{
    background-color: transparent;
    border: 1px solid #ccc;
    outline: none;
    padding: 12px 20px;
    cursor: pointer;
}

form button i{
    font-size: 14px;
    font-weight: bold;
}

.menu_icon{
    margin-top: -12px;
}


/* ******************** Card Section ******************************* */
.card{
    width: 96.50%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
}

.card_row{
    margin: 10px;
    box-shadow: 5px 8px 8px -6px rgba(0,0,0,0.5);
    height: 300px;
}





.card_row .youtube_images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.youtube_title{
    width: 100%;
    display: flex;
    align-items: center;
}

.youtube_flex_channel{
    margin: 10px 0;
}

.youtube_flex_channel img{
    width: 45.50px;
    height: 45.50px;
    border-radius: 100%;
}

.youtube_flex_channel h1{
    font-size: 0.9rem;
    padding:0 5px;
}

.youtube_title_top h1{
    font-size: 14px;
    margin: 5px 0 0 53px;
    text-align: left;
}


@media screen and (max-width: 1100px){

    .card{
      
        grid-template-columns: auto auto auto;
    }

    .card_row{
        height: 320px;
    }
}


@media screen and (max-width: 850px){
   
    .search_icon{
        width: 100%;
    }

    .search_icon form input{
        width: 400px;
    }

    .card{
      
        grid-template-columns: auto auto auto;
    }

    .card_row{
        height: 330px;
    }
}

@media screen and (max-width: 700px){
    .container_search{
 
        padding: 0 10px;
    }

   
    
    .search_icon form input{
        width: 300px;
    }

    .card{
      
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 585px){
    .container_search{
  
        grid-template-columns: auto;
        height: auto;
        padding-bottom: 11.50px;

    }

    .logo img{
        margin-left: -15px;
    }

    .menu_icon{
        position: absolute;
        top: 23.50px;
        right: 5.50px;
    }

    .container_search{
        display: flex;
    }

 

    .search_icon form{
        width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon form input{
    width: 100%;
}


.card{
      
    grid-template-columns: auto auto;
    justify-content: center;
}

.card_row{
    height: 325px;
}

}

@media screen and (max-width: 400px){
    .card{
      
        grid-template-columns: auto;
    }
}